body {
    font-family: Arial, sans-serif;
    background-color: #ffb5b5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
  }
  
  .container {
    text-align: center;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    width: 500px;
  }
  
  h1 {
    margin: 20px;
    color: #333;
  }
  
  .joke-setup, .joke-punchline {
    margin: 20px 0;
    font-size: 18px;
    color: #ffb5b5;
  }
  
  .btn {
    background-color: black;
    color: white;
    padding: 10px 20px;
    margin: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .btn:hover {
    background-color: #ffb5b5;
  }
  .hidden {
    display: none;
  }
  